language: python

matrix:
  include:
    - python: 3.7
      env: TOXENV=py37

install:
    - pip install pytest
    - pip install pytest-cov
    - pip install tox

script: tox

notifications:
  email: false